<section class="hero" aria-labelledby="hero-title">
  <div class="hero__bg" aria-hidden="true">
    <img
    class="hero__image" 
      src="./assets/images/hero/hero.jpg" 
      alt=""
      width="800"
      height="600"
    />
  </div>
  <div class="hero__overlay" aria-hidden="true"></div>
  <div class="hero__content">
    <span class="hero__pretitle" id="hero-title">Bienvenidos a</span>
    <h1 class="hero__title">
      Sabores de <span class="hero__title-highlight">México</span>
    </h1>
    <a href="./categoria.html" class="hero__cta">
      Explora recetas
      <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
    </a>
  </div>
</section>