<section class="intro" aria-labelledby="intro-title">
  <div class="o-container">
    <h1 class="intro__title" id="intro-title" data-aos="fade-up">
      Patrimonio de la humanidad
    </h1>
    <p class="intro__text" data-aos="fade-up" data-aos-delay="100">
      Desde 2010, la gastronomía mexicana es reconocida por la UNESCO 
      como Patrimonio Cultural Inmaterial de la Humanidad. <br>
      Su riqueza radica en la combinación de ingredientes prehispánicos 
      como el maíz, el chile y el cacao, con técnicas culinarias traídas 
      de otras partes del mundo. Esta fusión crea platillos que reflejan 
      la diversidad regional y cultural de México, desde los moles y tamales 
      hasta las salsas y guisos tradicionales, haciendo de cada comida una 
      expresión de historia, identidad y tradición.
    </p>
  </div>
</section>